@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FiraSans";
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}